*{
    padding: 0;
    margin: 0;
  }
  
.playDesign{
    width: 50%;
    height: 550px;
    background-color: rgb(5, 67, 92);
    margin: 150px auto;
    border-radius: 50px;
  }
  button{
    width: 200px;
    height: 70px;
    margin-top: 250px;
    margin-left: 100px;
    border-radius: 50px;
    background-color:hsl(141.9 69.2% 58%);
  }